* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pai_menu {
    width: 100%;
    height: 200px;
    gap: 16px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
}

.container {

    width: 100%;
    height: 100vh;
    border: none;
    background: palegoldenrod;
    border-radius: 0;
    margin-top: 0;
    display: flex;
    justify-content: start;
    align-items: start;


}

.data-decor {
     width: 150px;
    height: 100px;
   background-image: url("https://tse3.mm.bing.net/th/id/OIP.jI-DGZJHMswm-XOR-j1QjgHaEK?r=0&rs=1&pid=ImgDetMain&o=7&rm=3");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    justify-content:center;
    color: powderblue;
    align-items: center;
    margin: 10px;
}

.menu {
     width: 150px;
    height: 100px;
    background-image: url("https://tse4.mm.bing.net/th/id/OIP.44POlHaRTx1vZhIbVKjZpQHaE5?r=0&rs=1&pid=ImgDetMain&o=7&rm=3");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    justify-content:center;
    color: powderblue;
    align-items: center;
    margin: 10px;
}
.caption-number {
    width: 150px;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    color: powderblue;
    align-items: center;
    margin: 10px;
    background-image: url("https://i.pinimg.com/originals/cf/35/6b/cf356b30c2190683ef28c5f265294a52.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
